@import "Vars";

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .formContainer {
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
  }
  label{
    text-align: center;
  }
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .interact {
    @include anchor-button;
  }
  button[type="submit"] {
    background-color: $dark;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
}

.title {
  text-align: center;
  font-size: 10em;
  margin-block-end: 0.2em;
}

.interact {
  text-align: center;
}
