@import "Vars";

.container {
  @include for-tablet-portrait-up {
    height: calc(100vh - #{$navHeight} - 1px);
  }
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  .infoContainer {
    margin: 20px;
    @include for-tablet-portrait-up {
      margin: 60px;
    }

    .teamcontainer {
      display: flex;
      :first-child {
        flex-shrink: 1;
      }
      :nth-child(2) {
        flex-shrink: 3;
        min-width: 200px;
      }
    }

    .unsavedChanges {
      color: red;
    }
  }

  .confirm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 10;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.6);
  }

  div {
    img {
      float: right;
      cursor: pointer;
    }
  }
  button {
    background-color: $dark;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    &:hover {
      filter: brightness(1.6);
    }
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  #logout {
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    margin: 12px;
    button {
      margin: 0;
    }
    input {
      width: auto;
      margin: 8px 8px 8px 0px;
    }
  }
}
