@import "Vars";

.container {
  width: 100vw;
  @include for-desktop-up {
    height: calc(100vh - #{$navHeight});
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .problemName {
    margin-bottom: 0;
    font-weight: 600;
  }

  h3 {
    font-weight: normal;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    .statusBox {
      width: 24px;
      height: 24px;
    }
  }
}

table {
  tr.tableTitle {
    td {
      font-weight: 600;
      font-size: 1em;
    }
  }
  tr td {
    .flexCenter {
      display: flex;
      justify-content: center;
    }
  }
}
td {
  padding: 2px 8px;
  .statusContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.statusBox {
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 20%;
  margin-right: 10px;
}

.red {
  background-color: #ff0000;
}

.orange {
  background-color: #ff8f00;
}

.green {
  background-color: #03ff00;
}
